{% extends 'base.html.twig' %}
{% block body %}
	<section>
		<div class="container">

			<h1 class="title">Convertis tes images en .webp</h1>
			{{ form_start(form) }}
			<div>
				{{ form_label(form.file) }}
				<br/>
				{{ form_widget(form.file) }}
			</div>
			{{ form_end(form) }}
		</div>
	</section>
{% endblock %}
