
###> symfony/framework-bundle ###
/.env.local
/.env.prod
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/uploasds/*
!/public/uploasds/.gitkeep
/var/
/vendor/
docker-compose.override.yaml
###< symfony/framework-bundle ###
