<!DOCTYPE html>
<html>
	<head>
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
w[l] = w[l] || [];
w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
var f = d.getElementsByTagName(s)[0],
j = d.createElement(s),
dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-KGXSBCDF');
		</script>
		<!-- End Google Tag Manager -->
		<meta charset="UTF-8">
		<title>
			{% block title %}Webp Converter
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Convertis tes images en WEBP, le format idéal pour le web. Supporte les formats habituels (JPEG / PNG),
																								mais aussi GIF et BMP. Pas d'inscription, publicité ou de limite de conversions.">


		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles.css') }}" crossorigin="anonymous">
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-L80NB3RN27"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'G-L80NB3RN27');
	</script>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGXSBCDF" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div id="flashes">
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="flash-{{ label }}">
						{{ message | raw }}
					</div>
				{% endfor %}
			{% endfor %}
		</div>
		{% block body %}{% endblock %}
	</body>
</html>
